section.about
  background: $gray
  position: relative

  .lent
    background-color: $orange
    

  .breadcrumbs  
    margin-bottom: 54px
    a
      color: $boldgray
    svg
      path
        fill: $boldgray
      
    span
      color: $black
  
  .about_top
    padding-bottom: 60px
    .who_are_we
      position: relative
      display: flex
      justify-content: flex-end
      .about_title
        position: absolute
        max-width: 550px
        left: 0
        bottom: 28px
        .top_title
          +m-b
          font-size: 14px
          line-height: 17px
          color: $orange

        .main_title
          +m-b
          font-size: 90px
          line-height: 82px
          color: $black
      
      .who_img
        max-width: 813px
        height: 322px
        img
          width: 100%
          height: 100%
          border-radius: 5px
          object-fit: cover
    
    p.text_center_about
      max-width: 793px
      margin: 50px 0 60px
      +m-m
      font-size: 20px
      line-height: 35px
      color: $black
    
    .about_info_box
      display: flex
      grid-gap: 50px
      .about_info_img
        width: 540px
        height: 250px
        flex: none
        img
          width: 100%
          height: 100%
          object-fit: cover
          border-radius: 5px
      
      p
        +m-m
        font-size: 20px
        line-height: 35px
        color: $black
        padding-top: 15px
  
  .company_center
    .our_company
      background: $black
      padding: 85px 0 120px
      .company_main_box
        width: 100%
        p.company_title
          width: 100%
          +m-b
          font-size: 90px
          line-height: 82px
          color: $gray2
          text-align: right
        
        .company_grid_box
          margin-top: 40px
          display: grid
          grid-gap: 46px
          .company_single
            display: flex
            grid-gap: 35px
            align-items: center
            .company_left
              width: 513px
              flex: none
              p
                margin-bottom: 10px
                +m-l
                font-size: 50px
                line-height: 57px
                text-align: right
                color: $orange
              .company_img
                width: 100%
                height: 324px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
                  border-radius: 5px
            
            .company_right
              width: 380px
              .right_title
                margin-bottom: 15px
                +m-b
                font-size: 50px
                line-height: 57px
                color: $orange
              
              .right_content
                +m-m
                font-size: 16px
                line-height: 30px
                color: $gray2
          
            &:nth-of-type(2n)
              flex-direction: row-reverse
              .company_right
                p
                  text-align: right
     
    .lent_bottom
      border-radius: 0 0 10px 10px

  .galery_about
    padding: 70px 0 105px
    .galery_title
      margin-bottom: 25px
      color: $black
      +m-b
      font-size: 50px
      line-height: 60px
    .galery_grid
      position: relative
      display: grid
      grid-gap: 20px
      .galery_row
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 19px
        a
          img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 5px
        &:nth-of-type(2n)
          .right_side_galery
            grid-row: 1
            grid-column: 1
          
        .right_side_galery
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 20px

      // a
      //   max-width: 590px
      //   height: 322px
      //   img
      //     width: 100%
      //     height: 100%
      //     object-fit: cover      