section.contact
  background: $gray2
  .breadcrumbs
    a
      color: $black
    svg
      path
        fill: $black
      
    span
      color: $orange
  
  .contact_grid_box
    display: flex
    grid-gap: 70px
    align-items: center
    width: 100%
    margin: 4px 0 25px
    .contact_left
      .contact_desc
        display: grid
        grid-gap: 31px
        width: 270px
        .contact_row
          display: grid
          grid-template-columns: 30px 1fr
          grid-gap: 11px
          align-items: center
          svg
            margin: 0 auto
          p
            +m-r-17
            line-height: 27px
            color: $black
          
          .phones
            display: grid
            grid-gap: 1px
    
    .contact_right
      display: flex
      width: 100%
      .contact_lent
        background-image: url('../img/lenty.svg')
        background-color: $black
        background-position: center
        background-repeat: repeat-y
        flex: none
        width: 46px
        height: 628px
        border-radius: 10px 0 0 10px

        &.left_lent
          border-radius: 10px 0 0 10px
          margin-top: 85px
        &.right_lent
          border-radius: 0 10px 10px 0
      
      #map
        height: 543px
        width: 100%
        margin-top: 85px
