section
  position: relative
  &.index 
    footer
      background: $orange

  &.index , &.contact ,&.not-found
    footer
      margin-top: auto

  &.portfolio , &.movie_inner , &.about
    footer
      background: $orange
    .lent
      background-color: $orange

  footer
    background: $black
    a
      transition: color .3s
      &:hover
        color: $link_hover !important
    .footer_main_container
      width: 100%
      .footer_top
        display: grid
        grid-template-columns: auto auto auto
        align-items: flex-start
        justify-content: space-between
        margin:  63px 0 30px
        .footer_left
          display: flex
          flex-direction: column
          justify-content: space-between
          height: 100%

          .company
            display: none

        .socials
          display: flex
          grid-gap: 45px
          align-items: center
          a
            svg
              path
                transition: fill .3s
            
            &:hover
              svg
                path
                  fill: $link_hover
          
          &.social_mobile
            display: none

        .footer_center
          display: flex
          grid-gap: 120px
          .f_ul
            display: flex
            flex-direction: column
            grid-gap: 40px
            a
              +m-b-15
              color: $white
        
        .footer_right
          display: flex
          flex-direction: column
          grid-gap: 12px
          width: 190px
          a
            display: grid
            grid-template-columns: 15px 1fr
            grid-gap: 6px
            align-items: center
            +m-r-14
            color: $white
            svg
              path
                transition: fill .3s
            
            &:hover
              svg
                path
                  fill: $link_hover
    
      .footer_author_box
        +flex_1
        margin-bottom: 16px
        .author_left
          p
            +m-r-13
            color: $white
            span
              font-weight: bold
              margin-left: 4px

      .company
        display: flex
        flex-direction: column
        img
          width: 69px
          margin-left: -33px
          margin-bottom: -6px
        span
          +m-l
          font-size: 8px
          line-height: 11px
          color: $white