.right_side_menu
  position: absolute
  width: 370px
  top: 0
  right: 0
  min-height: 100vh
  transition: all .5s
  display: flex
  z-index: 88

  &.motion
    transform: translateX(0) !important
    .right_menu_blank
      .right_menu_top
        opacity: 1
        visibility: visible

  .lent_side
    background-image: url('../img/lenty.svg')
    background-color: #1B1B1B
    background-position: center
    background-repeat: repeat-y
    width: 46px
    border-radius: 10px 0 0 10px
    flex: none
  
  .right_menu_blank
    position: relative
    background: #010101
    display: flex
    grid-gap: 29px
    width: 100%

    .links
      display: flex
      flex-direction: column
      grid-gap: 35px
      justify-content: flex-start
      align-items: flex-end
      width: max-content
      height: 100%
      padding-left: 65px
      padding-top: 150px
      padding-bottom: 30px
      padding-right: calc((100vw - 1200px) / 2)
      margin-left: auto
      position: relative
      .right_menu_top
        position: absolute
        z-index: 1
        top: 45px
        +flex_1
        justify-content: flex-end
        grid-gap: 20px
        width: 100%

      .languages
        display: flex
        grid-gap: 20px
        a
          +m-l
          font-size: 14px
          line-height: 17px
          color: $white
          transition: all .5s
          padding: 5px 0

          &:hover
            color: $orange
            text-decoration: underline

          &:first-child
            padding-right: 19px
            border-right: 1px solid $white

      a
        +m-b-20
        color: $white
        display: flex
        justify-content: flex-end
        align-items: center
        grid-gap: 8px
        position: relative
        z-index: 80
        padding: 10px 0
        transition: color .5s

        &:hover
          color: $orange
      
      .edu_link
        width: 100%
        &:hover
          .edu_link_compact
            button
              img
                transform: rotate(180deg)
          .center_education_sublinks
            opacity: 1
            visibility: visible
        
        .edu_link_compact
          +flex_1
          justify-content: flex-end
          grid-gap: 8px
          button
            img.arrow_mobile
              display: none
            img
              transition: transform .5s

      .center_education_sublinks
        position: absolute
        top: 0
        left: -240px
        opacity: 0
        height: 100%
        visibility: hidden
        transition: opacity .3s
        padding-right: 29px
        background: #010101

        .center_ul
          display: flex
          flex-direction: column
          align-items: flex-start
          grid-gap: 30px
          width: 285px
          background-color: #090909
          padding: 120px 25px 0
          height: 100%

          a
            +m-m
            font-size: 15px 
            line-height: 17px 
            color: $gray2 
            transition: color .5s
            word-break: break-word
            &:hover
              color: $orange

        &::before
          content: ''
          position: absolute
          left: 0
          width: 46px
          height: 100%
          background-image: url('../img/lenty.svg')
          background-color: #1B1B1B
          background-position: center
          background-repeat: repeat-y
          border-radius: 10px 0 0 10px
          left: -46px
          top: 0
           
header
  background: linear-gradient(180deg, #010101 -389.26%, #F3F3F3 100%)
  .header_main_container
    width: 100%
    +flex_1
    height: 103px
    a
      .white-logo
        display: none


    button.hamburger_menu
      position: relative
      z-index: 90
      transition: opacity .5s
      opacity: 1
      visibility: visible
      &.quit
        opacity: 0
        visibility: hidden
        