section.index
  background: $gray2
  
  header
    position: absolute
    width: 100%
    background: none
    .header_main_container
      button.hamburger_menu
        filter: brightness(0) invert(1)
      a
        z-index: 45 
        .black-logo
          display: none
        .white-logo
          display: block !important
      
  .modal
    background-image: url('../img/modal_background.jpg')
    background-size: cover
    background-position: center
    padding-left: 0 !important
    .container , .row
      height: 100%
      width: 100%


    &::after
      position: absolute
      content: ''
      right: 0
      top: 0
      width: 100%
      height: 100%
      background: linear-gradient(270deg, $black 41.2%, rgba(1, 1, 1, 0) 99.61%)
      background-blend-mode: multiply
    
    .modal-dialog
      position: relative
      +flex_2
      height: 100%
      width: 100%
      z-index: 8
      
      margin: 0
      max-width: unset

      button.close_form
        position: absolute
        right: 0
        top: 70px
        z-index: 5555

      .modal-content
        position: relative
        +flex_1
        flex-direction: unset
        padding: 0 120px 0 100px
        width: 100%
        z-index: 88
        background: unset
        border: 0
        background-clip: none
        .modal_left
          width: 332px
          flex: none
          p
            +m-b
            font-size: 70px
            line-height: 70px
            color: $gray2
        
        .modal_right
          width: 360px
          flex: none
          >p
            color: $gray2
            +m-b
            font-size: 30px
            line-height: 36px
            margin-bottom: 21px

          form
            display: grid
            grid-gap: 10px
            width: 100%
            input
              width: 100%
              height: 40px
              background: none
              padding: 0 14px
              border: 0.6px solid rgba(229, 229, 229, 0.5)
              border-radius: 5px
              +m-m
              font-size: 13px
              line-height: 15px
              color: $white

              &::placeholder
                +m-m
                font-size: 13px
                line-height: 15px
                color: $gray2
              
            textarea
              width: 100%
              height: 108px
              background: none
              padding: 12px 14px
              border: 0.6px solid rgba(229, 229, 229, 0.5)
              border-radius: 5px
              +m-m
              font-size: 13px
              line-height: 15px
              color: $white
              resize: none

              &::placeholder
                +m-m
                font-size: 13px
                line-height: 15px
                color: $gray2
        
            button
              min-width: 224px
              width: max-content
              height: 40px
              margin-top: 14px
              padding: 0 5px
              +m-b
              font-size: 20px
              line-height: 24px

  .infinity
    pointer-events: none
    .swiper-wrapper
      transition-timing-function: linear !important
      .swiper-slide
        width: max-content
        p
          +m-l
          font-size: 35px
          line-height: 42px
          color: $orange
      

  .index_main_landing
    height: 100vh
    position: relative
    .index_parent_grid_container
      display: flex
      height: 100%
      .landing_single
        height: 100%
        background-position: center
        background-size: cover
        transition: all .8s
        backface-visibility: hidden
        position: relative
        video
          position: absolute
          width: 100%
          height: 100%
          object-fit: cover
          opacity: 0
          z-index: -1
          transition: opacity .8s
        
        &.play
          width: 40%
          background-image: none !important
          transition: all .8s
          video
            z-index: 1
            opacity: 1

        &:first-child
          width: 40%

        width: 20%
        img
          width: 100%
          height: 100%
          object-fit: cover

    .go_forward
      position: absolute
      z-index: 55
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 47.93%, #000000 60.13%)
      width: 100%
      left: 0
      bottom: 0
      padding-bottom: 60px
      .forward_title
        color: $gray3
        +m-b
        font-size: 120px
        line-height: 146px
        word-break: break-word
      
      button[data-target="#formModal"]
        +flex_2
        min-width: 214px
        padding: 0 8px
        width: max-content
        height: 48px
        background: rgba(255, 255, 255, 0.2)
        backdrop-filter: blur(3px)
        border-radius: 5px
        +m-b
        font-size: 27px
        line-height: 33px
        color: $orange
        border: 0
        transition: all .5s

        &:hover
          background: $orange
          color: $gray2

      .infinity_one
        margin-bottom: 13px
        z-index: 555
        .swiper-wrapper
          transition-timing-function: linear !important
          .swiper-slide
            width: max-content 
            p
              +m-l
              color: $boldgray
              font-size: 25px
              line-height: 30px
  
  .index_who_are
    background: $black
    padding: 114px 0 70px
    .i_who_grid
      display: grid
      grid-template-columns: auto 1fr
      align-items: flex-start
      grid-gap: 75px
      .who_left 
        .top_who_title
          +m-l
          font-size: 14px
          line-height: 18px
          color: $orange
          margin-bottom: 12px
        
        .bottom_who_title
          color: $gray3
          +m-b
          font-size: 90px
          line-height: 82px
        
      .content
        color: $boldgray
        +m-r
        font-size: 20px
        line-height: 45px
      
      .who_right
        grid-row-start: 1
        grid-row-end: 3
        grid-column: 2
        width: 785px
        .i_who_top
          display: flex
          width: 100%
          .center_image
            height: 549px
            width: 100%
            img
              width: 100%
              height: 100%
              object-fit: cover
          .lent_same
            background-image: url('../img/lenty.svg')
            background-color: #1B1B1B
            background-position: center
            background-repeat: repeat-y
            flex: none
            width: 46px
            height: 622px
            border-radius: 10px 0 0 10px

            &.left_lent
              border-radius: 10px 0 0 10px
            &.right_lent
              border-radius: 0 10px 10px 0
              margin-top: -72px
        
        .who_link
          margin-top: -47px
  
  .index_education
    padding: 60px 0 20px
    position: relative
    &::before
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 65%
      background-color: $orange
    .index_inner_education
      display: flex
      grid-gap: 57px
      position: relative
      z-index: 8
      width: 100%
      .i_edu_left
        p.little_inner
          color: $orange
          +m-l
          font-size: 20px
          line-height: 26px
      
        .double_title
          margin: 6px 0 11px

        .index_left_box
          display: flex
          flex-direction: column
          .more
            +m-sb-15
            color: $black
            position: relative
            width: max-content
            &::before
              position: absolute
              content: ''
              left: 0
              bottom: -2px
              background-color: $black
              height: 1px
              width: 100%
          
          .index_left_img
            width: 440px
            max-height: 545px
            margin: 7px 0 19px
            img
              width: 100%
              height: 100%
              object-fit: cover
              border-radius: 5px
          
          .yellow_stroke
            min-width: 227px
            width: max-content
            height: 48px
            padding: 0
            background: rgba(255, 255, 255, 0.2)
            backdrop-filter: blur(3px)
            border-radius: 5px
            +m-b
            font-size: 20px
            line-height: 24px
            color: $orange
            +flex_2
            border: 1px solid $orange
            transition: all .5s

            &:hover
              background-color: $orange
              color: $white

      .i_edu_right
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        grid-gap: 55px
        .index_edu_row
          display: flex
          justify-content: flex-end

          &:nth-of-type(2n)
            justify-content: flex-start
  

  .index_school
    padding: 75px 0 130px
    .index_header
      +flex_1
      .orange_title
        color: $black
        width: max-content
    
    .index_school_grid
      display: grid
      grid-template-columns: repeat(4,1fr)
      grid-gap: 20px
      width: 100%
      margin-top: 20px
      a
        display: flex
        border-radius: 5px
        flex-direction: column
        grid-gap: 10px
        &:hover
          .link_main
            background-color: $white

        .link_main
          border-radius: 5px
          background-color: $boldgray
          +flex_2
          padding: 80px 25px
          transition: background .5s
          .link_img
            width: 156px
            height: 200px
            img
              height: 100%
              width: 100%
              border-radius: 5px
              object-fit: cover

        p
          text-align: center
          +m-r
          font-size: 25px
          line-height: 30px
          color: $black
  
    .person_box
      .person_single
        display: flex !important
  .index_four_grid_section
    padding: 90px 0
    background-color: $black
    position: relative
    .film_absolute_box
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      max-width: 500px
      display: flex
      grid-gap: 5px
      flex-direction: column
      justify-content: center
      p
        margin-bottom: 0
      a
        color: $gray2
        +m-sb
        text-align: center
        position: relative
        width: max-content
        margin: 0 auto
        &::before
          content: ''
          position: absolute
          left: 0
          bottom: -2px
          height: 1px
          width: 100%
          background-color: $gray2


    .index_films_grid
      display: grid
      grid-template-columns: 1fr 1fr
      justify-content: space-between
      grid-gap: 51px
      width: 100%
      .index_film
        display: flex
        grid-gap: 20px

        &:nth-of-type(2n)
          flex-direction: row-reverse
          .film_bottom_info
            align-items: flex-end
          .film_right_content
            .film_name
              text-align: right
            
            .film_bottom_info
              .film_type
                text-align: right

        &:nth-of-type(3), &:nth-of-type(4)
          align-items: flex-end


          
        .film_img
          width: 206px
          height: 310px
          img
            width: 100%
            height: 100%
            border-radius: 5px
            object-fit: cover
        
        .film_right_content
          display: flex
          flex-direction: column
          align-items: flex-start
          max-width: 200px
          .film_name
            color: $gray2
            +m-b
            font-size: 20px
            line-height: 28px
            word-break: break-word
          
          .film_bottom_info
            margin-top: 20px
            display: flex
            flex-direction: column
            grid-gap: 10px
            width: 100%
            .film_date
              color: $gray2
              +m-r
              font-size: 15px
              line-height: 19px
            
            .film_type
              +m-sb-15
              color: $orange

