section.motivation_inner
  background: $gray
  position: relative
  header , footer , .lent
    z-index: 2

  .breadcrumbs
    margin-bottom: 40px
    a
      color: $black
    svg
      path
        fill: $black
      
    span
      color: $orange

  &::before
    position: absolute
    content: ''
    background: $orange
    height: 100%
    width: 50%
    right: 0
    top: 0

  .motivation_inner_grid
    display: grid
    grid-template-columns: 1fr 1fr
    padding-bottom: 65px
    .mot_inner_left
      padding-right: 45px
      .left_title
        display: flex
        justify-content: space-between
        align-items: flex-end
        .double_title
          p
            width: max-content
            +m-b
            font-size: 60px
            line-height: 82px
            color: $black

            &:last-child
              margin-top: -18px
              margin-left: 210px
        
        .title_img
          transform: rotate(90deg)
          margin-bottom: 22px
      
      .left_content_grid
        display: grid
        grid-gap: 23px
        margin-top: 31px
        p.one_head
          +m-b
          font-size: 20px
          line-height: 35px
          margin-bottom: 7px
          color: $orange
        
        p.one_body
          +m-m
          font-size: 17px
          line-height: 35px
          color: $black

    .mot_inner_right
      margin-left: 100px
      max-width: 430px
      p.form_title
        color: $gray2
        +m-b
        font-size: 30px
        line-height: 36px
        margin-bottom: 21px

      form
        display: grid
        grid-gap: 10px
        width: 100%
        input
          width: 100%
          height: 40px
          background: none
          padding: 0 14px
          border: 0.6px solid rgba(229, 229, 229, 0.7)
          border-radius: 5px
          +m-m
          font-size: 13px
          line-height: 15px
          color: $white

          &::placeholder
            +m-m
            font-size: 13px
            line-height: 15px
            color: $gray2
          
        textarea
          width: 100%
          height: 148px
          background: none
          padding: 12px 14px
          border: 0.6px solid rgba(229, 229, 229, 0.7)
          border-radius: 5px
          +m-m
          font-size: 13px
          line-height: 15px
          color: $white
          resize: none

          &::placeholder
            +m-m
            font-size: 13px
            line-height: 15px
            color: $gray2
        
        button
          min-width: 224px
          width: max-content
          height: 40px
          margin-top: 18px
          padding: 0 5px
          +m-b
          font-size: 20px
          line-height: 24px