section.motivation
  position: relative
  background: $orange
  
  
  .motivation_parent
    position: relative
    z-index: 2
    .little_title
      color: $black
      +m-l
      font-size: 20px
      line-height: 24px
      margin-bottom: 5px
    
    
    
    .mt_grid_box
      display: grid
      grid-template-columns: repeat(2,max-content)
      grid-row-gap: 55px
      justify-content: space-between
      margin: 45px 0 77px

      .mt_single
        &:nth-of-type(3n)
          grid-column-start: 1
          grid-column-end: 3
          margin: 0 auto 22px
          
