section.movie_inner
  background: $black
  .breadcrumbs
    a
      color: $white
    svg
      path
        fill: $white
      
    span
      color: $orange

  .film_inner_box
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 20px 100px
    margin-bottom: 60px
    .film_inner_img
      width: 285px
      max-height: 430px
      flex: none
      grid-row-start: 1
      grid-row-end: 3
      img
        width: 100%
        height: max-content
    
    .film_desc
      color: $boldgray
      +m-r-15
      .film_inner_type
        +m-sb-20
        color: $orange
        margin-bottom: 12px
      
      .text_annotation
        margin-top: 12px
        span
          +m-b-15
          color: $orange

    .film_info
      grid-column: 2
      p
        color: $gray2
        +m-m
        font-size: 20px
        line-height: 35px