section.portfolio
  background: $black
  .breadcrumbs
    a
      color: $white
    svg
      path
        fill: $white
      
    span
      color: $orange
  
  .section_title_box
    .right_content
      color: $gray2
  
  .movies_box
    display: grid
    grid-template-columns: repeat(4,1fr)
    grid-gap: 50px 60px
    margin-bottom: 70px
    .movie_single
      padding: 20px 23px
      border-radius: 5px
      border: .6px solid $black
      transition: all .5s
      &:hover
        border: .6px solid $gray2
        .movie_inner
          .movie_img
            img
              transform: scale(1.1)

      .movie_inner
        display: flex
        flex-direction: column
        height: 100%
        .movie_img
          height: 310px
          width: 100%
          margin-bottom: 10px
          overflow: hidden
          img
            height: 100%
            width: 100%
            object-fit: cover
            transition: all .5s
        
        .movie_name
          width: 100%
          max-height: 56px
          margin-bottom: 12px
          +m-b-20
          color: $gray2
          word-break: break-word
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-box-orient: vertical
          -webkit-line-clamp: 2
        
        .movie_info
          margin-top: auto
          display: flex
          flex-direction: column
          grid-gap: 7px
          align-items: flex-start
          .movie_date
            +m-r-15
            color: $gray2
          .movie_type
            max-height: 36px
            +m-sb-15
            color: $orange
            word-break: break-word
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
