@media (min-width: 1240px)
  .container
    max-width: 1200px

@media (max-width: 1200px)
  section
    .right_side_menu 
      .right_menu_blank 
        .links
          padding-right: calc((100vw - 960px) / 2)
          padding-top: 120px
    
    &.index
      .modal 
        .modal-dialog 
          .modal-content
            padding: 0
      .index_main_landing 
        .go_forward 
          .forward_title
            font-size: 90px
            line-height: 95px

          button[data-target="#formModal"]
            min-width: 202px
            height: 40px
            font-size: 20px
            line-height: 24px

      .index_who_are 
        .i_who_grid
          display: grid
          grid-template-columns: 1fr 1.5fr
          grid-gap: 50px
          .who_right
            width: 100%

          .who_left 
            .bottom_who_title
              font-size: 70px
              line-height: 80px
              max-width: 290px
          
          .content
            font-size: 18px
            line-height: 35px

      .index_education 
        .index_inner_education 
          .i_edu_right 
            .index_edu_row
              justify-content: flex-start

      .index_school
        padding: 55px 0 90px
        .index_header 
          .orange_title
            margin: 0
        
        .infinity
          margin: 15px 0 20px
        
        .index_school_grid
          margin: 0
      
      .index_four_grid_section 
        .film_absolute_box
          grid-gap: 0
          p.orange_title
            font-size: 50px
            line-height: 62px

        .index_films_grid 
          .index_film 
            .film_img
              width: 190px

    .orange_title
      font-size: 60px
      line-height: 65px
    
    &.about 
      .about_top 
        .who_are_we 
          .about_title 
            .main_title
              font-size: 60px
              line-height: 62px
      .company_center
        .our_company 
          .company_main_box 
            p.company_title
              font-size: 60px
              line-height: 62px
    
    &.movie_inner 
      .film_inner_box
        grid-gap: 20px 70px
    
    &.portfolio 
      .movies_box
        grid-gap: 30px
        margin-bottom: 60px
        .movie_single
          padding: 15px
          .movie_inner 
            .movie_name
              font-size: 18px
              line-height: 22px
              margin-bottom: 15px
  
@media (max-width: 991px)
  section
    &.index
      .modal 
        .modal-dialog 
          .modal-content
            .modal_left
              p
                font-size: 55px
                line-height: 62px

      .index_main_landing
        .index_parent_grid_container
          .landing_single
            width: 100% !important
            &:not(:first-child)
              display: none
               
        .go_forward 
          .forward_title
            font-size: 80px
            line-height: 85px

      .index_who_are
        padding: 35px 0 20px
        .i_who_grid
          display: grid
          grid-template-columns: 1fr
          grid-gap: 24px
          .who_right
            width: 100%
            grid-row-end: unset
            grid-row-start: unset
            grid-column: unset
            grid-row: 2
            .who_link
              margin-top: 17px
              img
                width: 31px
                height: 31px

            .i_who_top
              flex-direction: column
              .center_image
                height: 350px
              .lent_same
                width: 100%
                height: 46px
                background-image: url('../img/lent.svg')
                background-repeat: repeat-x

                &.left_lent
                  border-radius: 10px 10px 0 0
                
                &.right_lent
                  margin-top: unset
                  border-radius: 0 0 10px 10px

          .who_left 
            .bottom_who_title
              font-size: 60px
              line-height: 70px
              max-width: 290px
          
          .content
            font-size: 17px
            line-height: 32px

      .index_education
        padding: 70px 0 
        &::before
          width: 100%
        .index_inner_education
          flex-direction: column
          .i_edu_left
            p.little_inner
              color: $gray2
              font-size: 17px
              line-height: 21px 
            .index_left_box
              .yellow_stroke
                background: $white
                &:hover
                  border: 1px solid $white 
              .index_left_img
                width: 100%
                height: 450px
                max-height: unset

          .i_edu_right 
            .index_edu_row
              justify-content: flex-end

      .index_school
        .index_school_grid
          grid-template-columns: repeat(2,1fr )
          a 
            .link_main
              padding: 50px 25px
            
            p
              +m-sb
              font-size: 20px
              line-height: 24px
              
        .infinity 
          .swiper-wrapper 
            .swiper-slide 
              p
                font-size: 30px
                line-height: 35px

      .index_four_grid_section
        display: flex
        flex-direction: column-reverse
        grid-gap: 22px 
        .film_absolute_box
          position: unset
          top: unset
          left: unset
          transform: unset
          margin: auto
          a
            position: absolute
            right: calc( (100% - 720px) / 2)
            bottom: 40px

          p.orange_title
            font-size: 50px
            line-height: 62px

        .index_films_grid
          grid-template-columns: 1fr
          grid-gap: 25px 
          .index_film
            align-items: flex-start !important 
            .film_img
              width: 250px

    .right_side_menu 
      .right_menu_blank 
        .links
          padding-right: calc((100vw - 720px) / 2)
          padding-top: 120px
      

    .double_title 
      p
        font-size: 55px
        line-height: 75px

    .mt_single
      max-width: 400px
      .mt_center 
        p.mt_title
          font-size: 25px
          line-height: 30px
      
      .mt_arrow
        width: 41px

    &.about
      .about_top
        padding-bottom: 40px 
        .who_are_we
          display: flex
          flex-direction: column-reverse
          grid-gap: 24px 
          .about_title
            position: relative
            bottom: unset 
            .main_title
              font-size: 55px
              line-height: 60px
              margin-top: 5px

        .about_info_box
          flex-direction: column
          grid-gap: 35px
          .about_info_img
            width: 100%
          p
            +m-r
            font-size: 17px
            line-height: 30px
            padding: 0

        p.text_center_about
          +m-r
          font-size: 17px
          line-height: 30px
          margin: 11px 0 40px

      .company_center
        .our_company
          padding: 50px 0 80px 
          .company_main_box 
            p.company_title
              font-size: 55px
              line-height: 60px

            .company_grid_box
              margin-top: 20px
              .company_single 
                .company_left
                  width: 50%
                  p
                    font-size: 40px
                    line-height: 47px
                
                .company_right
                  width: unset 
                  .right_title
                    font-size: 35px
                    line-height: 40px
                    margin-bottom: 5px

      .galery_about
        padding: 50px 0 75px
        .galery_title
          font-size: 35px
          line-height: 40px
          margin-bottom: 15px
        .galery_grid
          width: 100%
          .galery_row
            grid-template-columns: 1fr
            grid-gap: 15px 20px
            .right_side_galery
              grid-row: 2 !important
            .grid-item
              height: 270px

    &.motivation 
      .motivation_parent
        .little_title
          font-size: 17px
          line-height: 21px
          margin-bottom: 9px 
        .mt_grid_box
          grid-template-columns: max-content
          justify-content: center
          grid-gap: 60px
          margin: 35px 0 65px
          .mt_single
            &:nth-of-type(3n)
              grid-column: unset
              margin: 0
    
    &.motivation_inner 
      .motivation_inner_grid
        .mot_inner_right
          margin-left: 0 
        .mot_inner_left 
          .left_title 
            .double_title 
              p
                font-size: 55px
                line-height: 72px
                &:last-child
                  margin-left: unset

    .lent
      height: 25px !important
      background-image: url('../img/lent_mobile.svg') !important
    
    .section_title_box
      grid-template-columns: 1fr
      grid-gap: 20px
      margin-bottom: 0
    
    .orange_title
      font-size: 55px
      line-height: 60px
    
    .right_content
      font-size: 17px
      line-height: 30px
    
    &.team 
      .team_main_grid
        padding: 35px 0 80px 
        .team_one_fraction
          flex-direction: column !important
          align-items: center
          grid-gap: 50px
          &:not(:last-child)
            padding-bottom: 40px
          
          .team_right_content
            p.t_name
              font-size: 30px
              line-height: 35px
            p.t_job
              font-size: 18px
              line-height: 26px
              margin: 12px 0
            p.t_info
              font-size: 15px
          .team_one_img
            &::after
              height: 212px
              width: 25px
              background-image: url('../img/lent_y_mobile.svg')
              left: 9px
              top: -45px

            &::before
              height: 212px
              width: 25px
              background-image: url('../img/lent_y_mobile.svg')
              right: 10px
              bottom: -64px
          
          &:nth-of-type(2n)
            .team_right_content
              align-items: flex-start
              p
                text-align: left 
            .team_one_img
              &::after
                right: 6Px
                top: -36px

              &::before
                left: 8px
                bottom: -70px

    .person_box
      grid-template-columns: repeat(3,1fr )
      .person_single
        padding: 44px 0 35px

    &.school 
      .school_box
        padding: 25px 0 90px
        .school_one
          &:not(:last-child)
            margin-bottom: 70px 
          p.school_title
            font-size: 25px
            line-height: 29px
            margin-bottom: 15px

    &.movie_inner 
      .film_inner_box
        grid-gap: 30px 40px
        margin-bottom: 53px
        .film_inner_img
          width: 200px
          max-height: 300px
          grid-row-start: unset
          grid-row-end: unset
          img
            width: 100%
            height: 100%
        .film_info
          grid-column-start: 1
          grid-column-end: 3
          p
            font-size: 17px
            line-height: 30px

    &.portfolio 
      .movies_box
        margin-top: 25px
        grid-template-columns: repeat(3,1fr)
        grid-gap: 30px
        .movie_single
          padding: 15px
          .movie_inner 
            .movie_name
              font-size: 17px
              line-height: 21px
            .movie_img
              height: 270px
              margin-bottom: 15px
            .movie_info
              grid-gap: 2px
              .movie_date
                font-size: 13px
              .movie_type
                font-size: 13px

    &.contact 
      .contact_grid_box
        grid-gap: 30px
        .contact_right
          flex-direction: column
          .contact_lent
            width: 100%
            height: 46px
            background-image: url("../img/lent.svg")
            background-repeat: repeat-x
            margin-top: 0 !important
            &.left_lent
              border-radius: 10px 10px 0 0
            &.right_lent
              border-radius: 0 0 10px 10px
          #map
            margin-top: 0
            height: 350px

    footer 
      .footer_main_container 
        .footer_top
          .footer_center
            grid-gap: 45px
          .footer_left 
            .socials
              grid-gap: 25px

@media (max-width: 768px)
  section

    &.index
      .modal
        &::after
          display: none 
        .modal-dialog
          padding: 115px 0 63px
          min-height: 100%
          height: unset
          button.close_form
            top: -40px

          &::after
            position: absolute
            content: ''
            right: 0
            top: 0
            width: 100%
            height: 100%
            background: -webkit-gradient(linear, right top, left top, color-stop(41.2%, #010101), color-stop(99.61%, rgba(1, 1, 1, 0)))
            background: linear-gradient(270deg, #010101 41.2%, rgba(1, 1, 1, 0) 99.61%)
            background-blend-mode: multiply 
          .modal-content
            flex-direction: column
            grid-gap: 100px
            align-items: flex-start
            .modal_left
              p
                font-size: 50px
                line-height: 55px
            
            .modal_right
              width: 100%
              > p
                font-size: 25px
                line-height: 36px
                margin-bottom: 15px

              form
                button
                  width: 100%

      .index_main_landing
        .index_parent_grid_container
          .landing_single
            width: 100% !important
            &:not(:first-child)
              display: none
               
        .go_forward 
          .forward_title
            font-size: 70px
            line-height: 75px
            
          .infinity
            margin: 15px 0 25px
            .swiper-wrapper 
              .swiper-slide 
                p
                  font-size: 20px
                  line-height: 25px
          
      .index_who_are 
        .i_who_grid
          .who_right
            .i_who_top
              flex-direction: column
              .center_image
                height: 300px
              .lent_same
                width: 100%
                height: 25px
                background-image: url('../img/lent_mobile.svg')
                background-repeat: repeat-x

          .who_left
            .top_who_title
              margin-bottom: 8px 
            .bottom_who_title
              font-size: 50px
              line-height: 60px
              max-width: 220px
          
          .content
            font-size: 15px
            line-height: 31px    

      .index_school
        .index_school_grid
          a 
            .link_main
              padding: 40px 25px
              .link_img 
                width: unset
                height: 185px
            
            p
              +m-sb
              font-size: 16px
              line-height: 20px
            
        .infinity 
          .swiper-wrapper 
            .swiper-slide 
              p
                font-size: 25px
                line-height: 30px
      
      .index_four_grid_section
        padding: 70px 0 90px
        .film_absolute_box
          a
            position: absolute
            right: calc( (100% - 540px) / 2)
            bottom: 40px

          p.orange_title
            font-size: 50px
            line-height: 62px

        .index_films_grid
          .index_film
            .film_img
              width: 200px
            
            .film_right_content
              .film_name
                font-size: 17px
                line-height: 21px
              
              .film_bottom_info
                margin-top: 15px
                grid-gap: 5px 
                .film_date , .film_type
                  font-size: 13px
                  line-height: 17px 

    .right_side_menu 
      .right_menu_blank 
        .links
          padding-right: calc((100vw - 540px) / 2)
          padding-top: 120px
    .double_title 
      p
        font-size: 50px
        line-height: 55px
        &:last-child
          margin: unset
    
    .mt_single
      max-width: 400px
      .mt_center 
        p.mt_title
          font-size: 20px
          line-height: 25px
        p.mt_content
          font-size: 13px
          line-height: 24px
          max-height: 50px
          -webkit-line-clamp: 2

    &.about 
      .about_top
        .who_are_we
          .about_title
            .top_title
              +m-l
            .main_title
              font-size: 50px
              line-height: 55px
              width: 200px
              margin-top: 5px
          
          .who_img
            height: 250px

        .about_info_box
          flex-direction: column
          grid-gap: 35px
          .about_info_img
            width: 100%
          p
            font-size: 15px
            line-height: 30px

        p.text_center_about
          font-size: 15px
          line-height: 30px

      .company_center
        .our_company
          .company_main_box 
            p.company_title
              font-size: 45px
              line-height: 50px

            .company_grid_box
              margin-top: 20px
              grid-gap: 60px
              .company_single
                flex-direction: column !important
                grid-gap: 20px 
                .company_left
                  width: 100%
                  display: flex
                  flex-direction: column-reverse
                  grid-gap: 12px
                  .company_img
                    height: 250px
                  p
                    font-size: 30px
                    line-height: 35px
                    margin: 0
                    text-align: left
                
                .company_right
                  width: unset 
                  .right_title
                    font-size: 25px
                    line-height: 30px
                    margin-bottom: 5px
                  
                  p
                    text-align: left !important 
      
      .galery_about
        .galery_title
        .galery_grid
          .galery_row
            .grid-item
              height: 250px

    &.motivation 
      .motivation_parent 
        .little_title
          font-size: 15px
          line-height: 19px

    &.motivation_inner
      &::before
        width: 0 
      .motivation_inner_grid
        grid-template-columns: 1fr
        grid-gap: 48px
        .mot_inner_right
          margin-left: 0
          max-width: 100%
          p.form_title
            color: $black
          form
            input ,textarea
              border: .6px solid $black
              color: $black
              &::placeholder
                color: $black
        .mot_inner_left 
          .left_title 
            .double_title 
              p
                font-size: 50px
                line-height: 62px
                &:last-child
                  margin-left: unset

    .orange_title
      font-size: 50px
      line-height: 55px
    
    .section_title_box
      grid-template-columns: 1fr
      grid-gap: 10px
      margin-bottom: 0
    
    .right_content
      +m-m
      color: $boldgray !important
      font-size: 15px
      line-height: 25px
    
    &.team 
      .team_main_grid
        padding: 35px 0 80px 
        .team_one_fraction
          flex-direction: column !important
          align-items: center
          grid-gap: 40px
          &:not(:last-child)
            padding-bottom: 40px
          
          .team_right_content
            p.t_name
              font-size: 25px
              line-height: 35px
              width: 200px
            p.t_job
              font-size: 15px
              line-height: 23px
            p.t_info
              font-size: 15px

    &.school 
      .school_box
        .school_one
          &:not(:last-child)
            margin-bottom: 60px
             
    .person_box
      grid-template-columns: repeat(2,1fr)
      grid-gap: 20px
      .person_single
        padding: 44px 0 35px

    &.movie_inner 
      .film_inner_box
        grid-gap: 30px 20px
        margin-bottom: 53px
        .film_inner_img
          width: 180px
          max-height: 270px
          img
            border-radius: 5px

        .film_desc
          display: flex
          flex-direction: column
          font-size: 13px
          line-height: 18px
          p.film_inner_type
            order: 2
            margin-bottom: 15px
            font-size: 13px
            line-height: 18px
          span.film_date
            order: 1
          p.text_annotation
            order: 3
            margin-top: 0
            &:nth-last-child(1)
              margin-top: 15px
            span
              font-size: 13px
              line-height: 18px
        .film_info
          p
            font-size: 15px
            line-height: 28px

    &.portfolio 
      .movies_box
        grid-template-columns: repeat(2,1fr)
        grid-gap: 30px
        .movie_single
          padding: 0
          border: 0
          &:hover
            border: 0
            .movie_inner
              .movie_img
                img
                  transform: unset !important
          .movie_inner 
            .movie_name
              font-size: 15px
              line-height: 19px
            .movie_img
              height: 257px
              img
                border-radius: 5px

    &.contact 
      .contact_grid_box
        grid-gap: 35px
        flex-direction: column
        align-items: flex-start
        .contact_left
          width: 100%
        .contact_right
          flex-direction: column
          .contact_lent
            width: 100%
            height: 25px
            background-image: url("../img/lent_mobile.svg")
            background-repeat: repeat-x
            margin-top: 0 !important
            &.left_lent
              border-radius: 10px 10px 0 0
            &.right_lent
              border-radius: 0 0 10px 10px
          #map
            margin-top: 0
            height: 330px 
    
    footer 
      .footer_main_container
        .footer_top
          grid-template-columns: 1fr
          grid-gap: 35px
          margin: 55px 0 65px 
          .footer_center
            grid-gap: 45px
            justify-content: space-between
          .footer_left 
            .socials
              display: none
            .left_top
              +flex_1
              .company
                display: flex

          .socials
            &.social_mobile
              display: flex
              max-width: 365px
              grid-gap: 0
              justify-content: space-between
              a
                width: 35px
                height: 35px
                svg
                  width: 100%
                  height: 100%
          
          .footer_right
            grid-gap: 20px

        .footer_author_box
          margin-bottom: 18px
          .author_left 
            p
              font-size: 12px
          .company
            display: none

@media (max-width: 576px)
  section
    .right_side_menu 
      .right_menu_blank 
        .languages
          top: 40px
    
    header 
      .header_main_container
        padding: 0 25px
        height: 93px
        .logo
          width: 115px
          img
            width: 100%
    
    .right_side_menu
      width: 285px
      transform: translateX(285px) !important
      &.motion
        transform: translateX(0) !important

      .right_menu_blank 
        .links
          padding-right: 25px
          padding-left: 0
          .edu_link
            display: flex
            flex-direction: column-reverse
            &:hover
              .center_education_sublinks
                opacity: unset
                visibility: unset
              .edu_link_compact
                button
                  img
                    transform: unset !important
            .edu_link_compact
              button
                &.change
                  img
                    transform: rotate(-90deg) !important
                img
                  display: none
                  &.arrow_mobile
                    display: block



          .center_education_sublinks
            position: relative
            left: unset
            top: unset
            padding-right: 0
            display: none
            opacity: 1 !important
            visibility: visible
            max-width: 227px
            &::before
              display: none
            .center_ul
              background-color: unset
              width: unset
              padding: unset
              align-items: flex-end
              grid-gap: 10px
              padding-top: 15px
              a
                padding: 10px 0 10px 25px
                width: unset
                text-align: right
      
      .lent_side
        background-image: url(../img/lent_y_mobile.svg)
        background-color: $black
        width: 25px

    .double_title 
      p
        font-size: 40px
        line-height: 45px
        &:last-child
          margin: unset
    
    .mt_single
      max-width: 360px

    &.index
      .modal
        &::after
          display: none 
        .modal-dialog
          .row
            margin: 0
          .modal-content
            flex-direction: column
            grid-gap: 100px
            align-items: flex-start
            .modal_left
              p
                max-width: 230px
                font-size: 45px
                line-height: 50px

            
      .index_main_landing
        .go_forward 
          .forward_title
            font-size: 60px
            line-height: 65px
            padding: 0 25px
          .forward_bottom
            padding: 0 25px

      .index_who_are
        padding-left: 25px
        padding-right: 25px 
        .i_who_grid
          .who_right
            .i_who_top
              .center_image
                height: 250px

          .who_left 
            .bottom_who_title
              font-size: 45px
              line-height: 55px
              max-width: 200px
          
          .content
            font-size: 13px
            line-height: 30px      

      .index_education
        padding: 0
        &::before
          width: 0
        .index_inner_education
          flex-direction: column !important
          .i_edu_left
            padding: 60px 25px 0
            p.little_inner
              color: $orange
              font-size: 14px
              line-height: 17px 
            .index_left_box
              .yellow_stroke
                background: transparent
                width: 100%
                height: 40px
                font-size: 20px
                line-height: 24px
                &:hover
                  border: 1px solid $orange 
              .index_left_img
                width: 100%
                height: 380px
                max-height: unset

          .i_edu_right
            padding: 45px 25px 60px
            background: $orange 
            .index_edu_row
              justify-content: center !important

      .index_school
        padding: 55px 0 100px
        position: relative
        .index_header
          padding: 0 25px
          .who_link
            position: absolute
            right: 25px
            bottom: 40px
            img
              width: 31px
              height: 31px
        .index_school_grid
          padding: 0 25px
          a 
            .link_main
              padding: 26px 15px
            
            p
              +m-sb
              font-size: 13px
              line-height: 18px
            
        .infinity 
          .swiper-wrapper 
            .swiper-slide 
              p
                font-size: 20px
                line-height: 25px
      
      .index_four_grid_section
        padding: 70px 25px 90px
        .film_absolute_box
          max-width: 100%
          width: 100%
          text-align: left
          a
            position: absolute
            right: 25px
            bottom: 40px
            font-size: 15px

          p.orange_title
            font-size: 45px
            line-height: 50px

        .index_films_grid
          .index_film
            .film_img
              width: 175px
            
            .film_right_content
              .film_name
                font-size: 15px
                line-height: 19px
              
    &.about
      .about_main_container
        padding: 0 25px  
        .about_top
          .who_are_we
            .about_title
              .main_title
                font-size: 45px
                line-height: 50px
                width: 180px
            
            .who_img
              height: 200px

          .about_info_box
            .about_info_img
              height: 205px

      .company_center
        .our_company
          padding-left: 25px
          padding-right: 25px
          .company_main_box 
            p.company_title
              font-size: 35px
              line-height: 40px

            .company_grid_box
              .company_single
                .company_left
                  .company_img
                    height: 185px
                  p
                    font-size: 25px
                    line-height: 30px
                
                .company_right
                  width: unset 
                  .right_title
                    font-size: 20px
                    line-height: 25px
                    margin-bottom: 5px
                  
                  .right_content
                    +m-r
                    font-size: 15px
                    line-height: 30px
                   
      .galery_about
        padding-left: 25px
        padding-right: 25px
        .galery_title
        .galery_grid
          .galery_row
            .grid-item
              height: 205px

    &.motivation
      .motivation_main_container
        padding: 0 25px 
        .motivation_parent
          .little_title
            font-size: 14px
            line-height: 17px
          .mt_grid_box
            justify-content: flex-start 

    &.motivation_inner
      &::before
        width: 0

      .lent
        margin-top: -15px

      .breadcrumbs
        padding: 0 25px 
      .motivation_inner_grid
        grid-template-columns: 1fr
        grid-gap: 48px
        padding: 0
        .mot_inner_right
          margin-left: 0
          max-width: 100%
          background-color: $orange
          padding: 45px 25px 60px
          p.form_title
            color: $gray2
          form
            input ,textarea
              border: .6px solid rgba(229, 229, 229, 0.7)
              color: $white
              &::placeholder
                color: $white
            
            button
              width: 100%
        
        .mot_inner_left
          padding: 0 25px
          .left_content_grid
            margin-top: 24px
            p.one_head
              margin-bottom: 4px 
            p.one_body
              font-size: 15px
              line-height: 30px 
          .left_title
            flex-direction: column
            align-items: unset
            .title_img
              align-self: flex-end
              margin-bottom: 0
              width: 73px
              height: 73px
              transform: rotate(180deg)
              img
                width: 100%           
            .double_title 
              p
                font-size: 45px
                line-height: 50px
                &:last-child
                  margin-left: unset
                  margin-top: unset

    .orange_title
      font-size: 45px
      line-height: 50px
      width: 100% !important
    
    .right_content
      font-size: 13px
      line-height: 25px

    &.team 
      .team_main_container
        padding: 0 25px
        .team_main_grid
          .team_one_fraction
            &:nth-of-type(2n) 
              .team_one_img
                &::after
                  left: unset
                  right: 6px
                  top: -36px
                &::before
                  right: 17px
                  bottom: -38px
            .team_one_img
              &::after
                left: 24px
                top: -44px

              &::before
                height: 212px
                width: 25px
                background-image: url('../img/lent_y_mobile.svg')
                right: 15px
                bottom: -59px
          
    &.school
      .school_inner_container
        padding: 0 25px   
        .school_box
          .school_one
            .tabs_school 
              button
                &.btn_education
                  min-width: 120px
                  font-size: 16px
                  line-height: 20px
            &:not(:last-child)
              margin-bottom: 50px 
            
            p.school_title
              text-align: center
    
    .person_box
      grid-template-columns: repeat(1,1fr)
      grid-gap: 10px
    &.movie_inner
      .movie_inner_container
        padding: 0 25px
        .film_inner_box
          .film_inner_img
            width: 170px
            max-height: 260px

    &.portfolio
      .portfolio_main_container
        padding: 0 25px 
        .movies_box
          grid-template-columns: repeat(2,1fr)
          grid-gap: 40px 20px

    &.contact
      .contact_inner_container
        .breadcrumbs
          padding: 0 25px   
        .contact_grid_box
          margin: 2px 0 47px
          .contact_left
            padding: 0 25px

    footer 
      .footer_main_container
        padding: 0 25px
        .footer_top 
          .footer_left
            .left_top
              a.footer_logo
                width: 115px
                img
                  width: 100%

@media (max-width: 400px)
  section footer .footer_main_container,
  section.contact .contact_inner_container .breadcrumbs,
  section.contact .contact_inner_container .contact_grid_box .contact_left,
  section.school .school_inner_container,
  section.portfolio .portfolio_main_container,
  section.movie_inner .movie_inner_container,
  section.team .team_main_container,
  section.motivation .motivation_main_container,
  section.about .galery_about,
  section.about .company_center .our_company,
  section.about .about_main_container,
  section header .header_main_container,
  section.index .index_main_landing .go_forward .forward_title,
  section.index .index_main_landing .go_forward .forward_bottom,
  section.index .index_who_are,
  section.index .index_education .index_inner_education .i_edu_right,
  section.index .index_education .index_inner_education .i_edu_left,
  section.index .index_school .index_school_grid,
  section.index .index_school .index_header,
  section.index .index_four_grid_section,
  section.motivation_inner .breadcrumbs,
  section.motivation_inner .motivation_inner_grid .mot_inner_left,
  section.motivation_inner .motivation_inner_grid .mot_inner_right
    padding-left: 15px
    padding-right: 15px
  
  section.index .index_four_grid_section .index_films_grid .index_film .film_img
    width: 140px
    flex: none
  section.index .index_school .index_header .who_link,
  section.index .index_four_grid_section .film_absolute_box a
    right: 15px

  section.index .index_school .index_school_grid
    grid-gap: 10px
  
  section
    .orange_title
      font-size: 40px
      line-height: 45px