section.school
  background: $gray
  .breadcrumbs
    a
      color: $black
    svg
      path
        fill: $black
      
    span
      color: $orange
  
  .school_box
    padding: 25px 0 85px
    .school_one
      &:not(:last-child)
        margin-bottom: 90px
      .tabs_school
        display: flex
        grid-gap: 10px

        button
          &.btn_education
            margin-bottom: 16px
            +m-b
            padding: 0 10px
            min-width: 160px
            height: 40px
            border: 1px solid $orange
            border-radius: 5px
            font-size: 18px
            line-height: 22px
            color: $orange
            position: relative
            transition: all .5s
            &:hover
              color: $gray2
              background-color: $orange
            &.btn_active
              background-color: $orange
              color: $gray2

.person_box
  display: grid
  grid-template-columns: repeat(4,1fr)
  grid-gap: 35px 20px
  width: 100%
  .person_single
    background: $boldgray
    display: none
    flex-direction: column
    align-items: center
    grid-gap: 14px
    padding: 80px 25px 15px
    border-radius: 5px
    transition: background .5s
    &.show
      display: flex !important
    &:hover
      background: $white
    .person_img
      width: 156px
      height: 200px
      img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 5px
    
    .person_info
      display: flex
      flex-direction: column
      align-items: center
      grid-gap: 5px

      .person_name
        +m-b-20
        line-height: 28px
        color: $black
        text-align: center
      
      .person_job
        +m-r-15
        color: $black

