section.team
  background: $gray
  .breadcrumbs
    a
      color: $black
    svg
      path
        fill: $black
      
    span
      color: $orange
  
  .team_main_grid
    padding: 40px 0 80px
    .team_one_fraction      
      display: flex
      grid-gap: 66px
      &:not(:last-child)
        margin-bottom: 70px
        border-bottom: 1px solid $boldgray
        padding-bottom: 70px
      
      &:nth-of-type(2n)
        flex-direction: row-reverse
        .team_right_content
          align-items: flex-end
          p
            text-align: right
        
        .team_one_img
          &::after
            left: unset
            top: unset
            right: -21px
            top: -36px
            transform: rotate(158deg)

          &::before
            left: -2px
            bottom: -90px
            right: unset
            top: unset
            transform: rotate(158deg)


        
      .team_one_img
        position: relative
        width: 240px
        height: 308px
        flex: none
        z-index: 1
        &::after
          position: absolute
          content: ''
          background-image: url('../img/lenty.svg')
          background-color: $orange
          background-position: center
          background-repeat: repeat-y
          width: 46px
          height: 276px
          left: -17px
          top: -45px
          border-radius: 10px 0 0 10px
          transform: rotate(30deg)
          z-index: 2
        
        &::before
          position: absolute
          content: ''
          background-image: url('../img/lenty.svg')
          background-color: $orange
          background-position: center
          background-repeat: repeat-y
          width: 46px
          height: 276px
          opacity: .75
          right: 12px
          bottom: -88px
          border-radius: 0 10px 10px 0
          transform: rotate(30deg)
          z-index: -1
        img
          width: 100%
          height: 100%
          object-fit: cover
          border-radius: 5px
      
      .team_right_content
        display: flex
        flex-direction: column
        p.t_name
          width: 250px
          +m-b
          font-size: 35px
          line-height: 45px
          word-break: break-word
          color: $black
        
        p.t_job
          margin: 1px 0 10px
          +m-b
          font-size: 20px
          line-height: 28px
          color: $orange
        
        p.t_info
          color: $black2
          +m-m
          font-size: 16px
          line-height: 28px
