// Base fonts
$m-bb:  'm-bb',   Arial,   sans-serif
$m-l:  'm-l',   Arial,   sans-serif
$m-r:  'm-r',   Arial,   sans-serif
$m-m:  'm-m',  Arial,   sans-serif
$m-eb: 'm-eb',  Arial,   sans-serif
$m-b:  'm-b',   Arial,   sans-serif
$m-sb: 'm-sb',   Arial,   sans-serif
$m-t:  'm-t',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$black:                   #010101
$black2:                  #424242
$orange:                  #EC5A3B
$gray:                    #F3F3F3
$gray2:                   #E5E5E5
$gray3:                   #ECECEC
$boldgray:                #ACACAC
$link_hover:              #CB4D32


// Base Flex
=flex_1
	display: flex
	align-items: center
	justify-content: space-between

=flex_2
	display: flex
	align-items: center
	justify-content: center

=flex_3
	display: flex
	flex-direction: column
	justify-content: center

=flex_4
	display: flex
	justify-content: flex-end	
	align-items: center	

=btn_default
	background: none
	outline: none
	border: none
	cursor: pointer
// Base mixin

=m-bb
	font-family: $m-bb
	font-weight: 400

=m-l
	font-family: $m-l
	font-weight: 400

=m-r
	font-family: $m-r
	font-weight: 400

=m-m
	font-family: $m-m
	font-weight: 400

=m-sb
	font-family: $m-sb
	font-weight: 400

=m-b
	font-family: $m-b
	font-weight: 400

=m-eb
	font-family: $m-eb
	font-weight: 400

=m-t
	font-family: $m-t
	font-weight: 400


=m-sb-15
	+m-sb
	font-size: 15px
	line-height: 18px

=m-sb-20
	+m-sb
	font-size: 20px
	line-height: 24px

=m-b-15
	+m-b
	font-size: 15px
	line-height: 18px

=m-b-20
	+m-b
	font-size: 20px
	line-height: 24px

=m-m-12
	+m-m
	font-size: 12px
	line-height: 15px

=m-r-13
	+m-r
	font-size: 13px
	line-height: 16px

=m-r-14
	+m-r
	font-size: 14px
	line-height: 17px

=m-r-15
	+m-r
	font-size: 15px
	line-height: 18px

=m-r-17
	+m-r
	font-size: 17px
	line-height: 20px

=m-r-20
	+m-r
	font-size: 20px
	line-height: 35px
