@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_index'
@import '_contact'
@import '_portfolio'
@import '_team'
@import '_motivation'
@import '_mot_inner'
@import '_movie_inner'
@import '_school'
@import '_about'
@import '_responsive'

body
  background-color: $white

section
  min-height: 100vh
  display: flex
  flex-direction: column

footer
  // margin-top: auto

button
  +btn_default

section
  &.portfolio , &.team_inner 
    .lent
      background-color: $orange
  .lent
    background-image: url('../img/lent.svg')
    background-color: $black
    background-position: center
    background-repeat: repeat-x
    height: 46px
    width: 100%
    margin-top: auto
    border-radius: 10px 10px 0 0

.breadcrumbs
  margin: 18px 0 45px
  width: max-content
  +flex_1
  grid-gap: 10px
  a
    +m-m-12
    color: $black
    text-transform: uppercase
  span
    +m-m-12
    color: $boldgray

.section_title_box
  display: grid
  grid-template-columns: 1fr auto
  align-items: center
  grid-gap: 110px
  margin-bottom: 25px
  .orange_title
    max-width: 600px
    width: max-content
    margin-bottom: 0

.orange_title
  color: $orange
  +m-b
  font-size: 70px
  line-height: 82px
  width: 100%
  word-break: break-word
  margin-bottom: 25px

.right_content
  +m-r-20
  max-width: 630px

.dark_btn
  background: $black
  +flex_2
  color: $gray2
  border: 5px
  transition: all .5s
  border: 1px solid $black
  border-radius: 5px

  &:hover
    color: $black
    background: transparent

.orange_btn
  background: $orange
  +flex_2
  color: $gray2
  border: 5px
  transition: all .5s
  border: 1px solid $orange
  border-radius: 5px

  &:hover
    color: $white
    background: transparent

.double_title 
  width: max-content
  p
    width: max-content
    color: $black
    +m-b
    font-size: 60px
    line-height: 82px

    &:last-child
      margin-top: -18px
      margin-left: 94px

.mt_single
  display: flex
  grid-gap: 6px
  align-items: flex-start
  max-width: 430px
  width: max-content
  &:hover
    .mt_arrow
      transform: translateY(-26px)

  .mt_number
    position: relative
    color: $gray2
    +m-b
    font-size: 90px
    line-height: 82px
    margin-top: 6px
    transform: rotate(-90deg)
  
  .mt_center  
    p.mt_title
      padding-bottom: 18px
      margin-bottom: 15px
      color: $gray2
      +m-b
      font-size: 30px
      line-height: 35px
      border-bottom: 1px solid $black
      word-break: break-word
    p.mt_content
      +m-r
      font-size: 17px
      line-height: 30px
      color: $gray2
      max-height: 90px
      word-break: break-word
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 3

  .mt_arrow
    width: 49px
    flex: none
    transition: transform .5s
    img
      width: 100%

.who_link
  width: max-content
  display: flex
  align-items: flex-end
  grid-gap: 6px
  margin-left: auto
  +m-sb
  font-size: 15px
  line-height: 20px
  color: $boldgray
  &:hover
    color: $boldgray
    img
      transform: translateY(-15px)
  img
    transition: transform .6s

section
  &.not-found
    background: $gray
    .breadcrumbs
      flex-direction: row-reverse
      a
        color: $orange
      svg
        transform: rotate(180deg)
        path
          fill: $orange
      span
        display: none